*{
    margin: 0;
    padding: 0;
    background-color: #ebebea;
    font-family: 'Playfair Display', serif;
}

.h1{
    text-align: center;
    margin-top: 50px;
}

.h5{
    text-align: center;
    font-family: 'Nunito', serif;
    margin-top: 10px;
    margin-bottom: 30px ;

}
h3{
     background: white;

}

.name{
    background: white;
}

.far {
     margin:0;
     padding: 0;
}

.fas {
    margin:0;
    padding: 0;
    color: black;
}



.menu {
    width: 1300px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 50px;
}

.menu ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 30px 85px;
    overflow: hidden;
}

.menu ul li {
    float: left;
    /*width: 20%;*/
    padding: 0px 100px 0px 100px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    background: #ebebea;

}

.menu ul li a:hover{
    color: red;
}

.menu ul li:hover{
    color: red;
}


.content{
    width: 1300px;
    margin: auto;
    background-color: white;
    padding: 35px 0;
    display: grid;
    grid-template-columns: auto auto auto;
}

.contentSingle{
    width: 1300px;
    margin: auto;
    background-color: white;
    padding: 35px 0;

}

.content ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0px 0;
    overflow: hidden;
    background-color: white;
}

.content ul li{
    width: 260px;
    float: left;
    /*width: 20%;*/
    margin: 10px 12px;
    background: white;
}

.content ul li a{
    text-decoration: none;

}

input[type=text], select {
    width: 100%;
    padding: 5px 10px;
    margin:  0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background-color: white ;
}

i{
    margin-top: -10px;
}

/*img{*/
/*    -webkit-transform:scale(0.9); !*Webkit: Thu nhỏ kích thước ảnh còn 0.8 so với ảnh gốc*!*/
/*    -moz-transform:scale(0.9); !*Thu nhỏ đối với Mozilla*!*/
/*    -o-transform:scale(0.9); !*Thu nhỏ đối với Opera*!*/
/*    -webkit-transition-duration: 0.5s; !*Webkit: Thời gian phóng to, nhỏ ảnh*!*/
/*    -moz-transition-duration: 0.5s; !*Như trên*!*/
/*    -o-transition-duration: 0.5s; !*Như trên*!*/
/*    opacity: 0.7; !*Độ mờ của hình ảnh*!*/
/*    width: 281px;*/
/*    margin: 20px 23px;*/
/*}*/

/*img:hover{*/
/*    -webkit-transform:scale(1.0); !*Webkit: Tăng kích cỡ ảnh lên 1.1 lần*!*/
/*    -moz-transform:scale(1.0);*/
/*    -o-transform:scale(1.0);*/
/*    box-shadow:0px 0px 10px gray; !*Đổ bóng bằng CSS3*!*/
/*    -webkit-box-shadow:0px 0px 0px gray;*/
/*    -moz-box-shadow:0px 0px 0px gray;*/
/*    opacity: 1; !*Độ mờ của hình ảnh*!*/
/*}*/

a{
    background-color: white;
}

hr{
    margin-top: 50px ;
}

.category{
    width: 200px;
    padding: 20px;
    background-color: #ebebea;
    border-radius: 10px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.footer{
    width: 1300px;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 50px;
    margin-top: 30px;

}



p {
    text-align: center;
    padding-bottom: 30px;
    background-color: white;
    font-family: 'Playfair Display', serif;
}

img{
    width:500px;
    margin: 10px ;
    border-radius: 5px;
}

.photo {
    width: 1300px;
    background: white;
    margin:  30px auto;
    padding: 50px 50px;

}

.link {
    float: right;
    text-decoration: none;
}

fieldset {
    background: white;
}

input{
    background: white;
}

input[type = text], select {
    width: 100%;
    padding: 15px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background: white;
}

input[type=submit] {
    background: #ebebea;
    padding: 15px 10px;
    color: black;
    border: none;
    border-radius: 4px;
    outline: none;
}

.create{
    margin: 20px 88px;

}

legend {
    background: white;
    text-align: center;
    font-size: 1.5vw;
}

.tag{
    width: 100%;
}

textarea {
    max-width: 100%;
    width: 100%;
    height: 300px;
    padding: 15px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background: white;

}

.photoForm {
    display:inline;
}

.error { 
    color: #a94442; 
  }

  .success {
    color: #3c763d; 
    text-align: center
  }